<% layout("layout/boilerplate") %>

<body>
  <div class="flex justify-center items-center">
    <form
      method="POST"
      action="/listings"
      novalidate
      class="group p-4 bg-white rounded-lg shadow hover:shadow-xl transition"
    >
      <div class="">
        <label
          for="title"
          class="px-4 py-2.5 rounded-lg text-sm text-zinc-500 hover:bg-zinc-50"
          >Title</label
        >
        <input
          type="text"
          name="listing[title]"
          id="title"
          class="w-full peer border-2 border-zinc-500 rounded-lg p-2 shadow-lg hover:shadow-xl transition invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500"
          placeholder=" "
          required
        />
        <span
          class="mt-2 hidden text-sm text-red-500 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block"
        >
          Please enter a valid title
        </span>
      </div>
      <br />
      <div class="">
        <label
          for="author"
          class="px-4 py-2.5 rounded-lg text-sm text-zinc-500 hover:bg-zinc-50"
          >Author</label
        >
        <input
          type="text"
          name="listing[author]"
          id="author"
          class="w-full border-2 border-zinc-500 rounded-lg p-2 shadow-lg hover:shadow-xl transition peer invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500"
          placeholder=" "
          required
        />
        <span
          class="mt-2 hidden text-sm text-red-500 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block"
        >
          Please enter a valid author
        </span>
      </div>
      <br />
      <div class="">
        <label
          for="description"
          class="px-4 py-2.5 rounded-lg text-sm text-zinc-500 hover:bg-zinc-50"
          >Description</label
        >
        <input
          type="text"
          name="listing[description]"
          id="description"
          class="w-full border-2 border-zinc-500 rounded-lg p-2 shadow-lg hover:shadow-xl transition peer invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500"
          placeholder=" "
          required
        />
        <span
          class="mt-2 hidden text-sm text-red-500 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block"
        >
          Please enter a valid description
        </span>
      </div>
      <br />
      <div class="">
        <label
          for="image"
          class="px-4 py-2.5 rounded-lg text-sm text-zinc-500 hover:bg-zinc-50"
          >Image</label
        >
        <input
          type="text"
          name="listing[image]"
          id="image"
          class="w-full border-2 border-zinc-500 rounded-lg p-2 shadow-lg hover:shadow-xl transition peer invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500"
          placeholder=" "
          required
        />
        <span
          class="mt-2 hidden text-sm text-red-500 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block"
        >
          Please enter a valid image URL
        </span>
      </div>
      <br />
      <div class="">
        <label
          for="price"
          class="px-4 py-2.5 rounded-lg text-sm text-zinc-500 hover:bg-zinc-50"
          >Price</label
        >
        <input
          type="number"
          name="listing[price]"
          id="price"
          class="w-full border-2 border-zinc-500 rounded-lg p-2 shadow-lg hover:shadow-xl transition peer invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500"
          placeholder=" "
          required
        />
        <span
          class="mt-2 hidden text-sm text-red-500 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block"
        >
          Please enter a valid price
        </span>
      </div>
      <br />
      <div class="">
        <label
          for="rating"
          class="px-4 py-2.5 rounded-lg text-sm text-zinc-500 hover:bg-zinc-50"
          >Rating</label
        >
        <input
          type="number"
          name="listing[rating]"
          id="rating"
          placeholder=" "
          required
          class="w-full border-2 border-zinc-500 rounded-lg p-2 shadow-lg hover:shadow-xl transition peer invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500"
        />
        <span
          class="mt-2 hidden text-sm text-red-500 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block"
        >
          Please enter a valid rating
        </span>
      </div>
      <br />
      <div class="flex justify-center items-center">
        <button
          class="bg-zinc-500 text-white px-4 py-2 rounded-full group-invalid:pointer-events-none group-invalid:opacity-30"
        >
          Add
        </button>
      </div>
    </form>
  </div>
</body>
